<html>
<head>
	<meta http-equiv="pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate"> 
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<title>Porn Blocker</title>
	<link rel="stylesheet" href="./bundle.css?v=1481879962775">
</head>
<body>
	<div id="container">
		<div class="header">
			<div class="con">
				<img src="./src/images/logo.png" />
			</div>
		</div>
		<div class="banner">
			<div class="con bg-img">
				<h1>Porn Blocker</h1>
				<p>Keep xxx pictures away from your children.</p>
			</div>
		</div>	
		<div class="content">
			<div class="con-con">
				<div class="left-area l">
					<div class="pic-list">
						<ul>
							<li v-for="(item, index) in caseList" 
								:class="[currentCase == index ? 'case-checked' : '','bg-img', 'box-size']" 
								:style="{backgroundImage: 'url('+item+')'}"
								@click="checkCase(index)"
							>
							</li>
						</ul>
					</div>
					<div class="upload">
						<input v-model="picUrl" class="l input-url" type="text" placeholder="Picture Url" />
						<div @click="checkPicUrl" class="input-btn l">Test</div>
						<label for="file" class="upload-btn r">Upload</label>
						<input id="file" type="file" @change="handleUpload" />
					</div>
					<div class="pic-area bg-img" :style="{backgroundImage: 'url('+currentImg+')'}">
						<div class="loading-cover" v-show="isLoading">
							<img src="./src/images/load.png" />
						</div>
					</div>
				</div>
				<div class="result-area r"></div>
			</div>
		</div>
	</div>
<script src="./bundle.js?v=1481879962775"></script>
</body>
</html>
