html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 12px;
	font-family: '\601D\6E90\9ED1\4F53\7B80','Helvetica Neue-Light';
}

.bg-img {
	background: center no-repeat / cover;
}

.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.media-area {
	width: 100%;
	background-color: #f3f3f3;
	position: relative;
}

.media-img, .media-video {
	width: 100%;
	display: none;
}

#video {
	width: 100%;
	display: none;
}

.play {
	width: 13%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6.5%;
	margin-top: -6.5%;
}

.list {
	width: 100%;
	padding: 10px 10px 10px 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #f3f3f3;
	overflow: hidden;
	position: relative;
}

.avatar {
	width: 44px;
	height: 44px;
	border-radius: 22px;
	background-color: #f3f3f3;
	margin-right: 10px;
	float: left;
}

.author-info {
	float: left;
}

.author-info .author-name {
	font-size: 15px;
	color: #4a4a4a;
	margin: 9px 0 5px 0;
}

.author-info .author-time {
	font-size: 12px;
	color: #9b9b9b;
}

.like-count {
	color: #4a4a4a;
	float: right;
	overflow: hidden;
	margin-top: 23px;
}

.like-count img {
	float: left;
	width: 15px;
	margin-right: 4px;
}

.like-count span {
	float: left;
	line-height: 18px;
}

.text {
	padding: 16px 9px;
	font-size: 15px;
	color: #4a4a4a;
	line-height: 1.3;
	border-bottom: 1px solid #f3f3f3;
	display: none;
}

.com-bar {
	font-size: 12px;
	color: #9b9b9b;
	padding: 10px 9px 0 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}

.com-info {
	/*float: left;*/
	/*width: 100%;*/
	margin-left: 55px;
	word-wrap: break-word;
}

.com-name {
	font-size: 15px;
	color: #4a4a4a;
	margin: 2px 0 6px 0;
}

.com-time {
	color: #9b9b9b;
	font-size: 10px;
	margin-bottom: 6px;
}

.com-con {
	font-size: 12px;
	color: #4A4A4A;
	line-height: 1.2;
}

.open {
	width: 92%;
	height: 32px;
	margin: 16px auto 20px auto;
	background-color: #f7f7f7;
	color: #000;
	text-align: center;
	line-height: 32px;
}

.ties {
	width: 100%;
	padding-bottom: 16%;
}

.QRcode {
	width: 100%;
	overflow: hidden;
}

.QRcode img {
	width: 50.6%;
	display: block;
	margin: 27px auto;
}

.download-bar {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

.download {
	width: 26.7%;
	position: absolute;
	right: 11px;
	top: 28%;
}