html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 14px;
	font-family: '微软雅黑', Arial, Helvetica;
	background-color: #F5F6FA;
}

.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}
