/*base*/

html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input, ul, ol, li {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: '微软雅黑', Helvetica;
	background-color: #f8f8f8;
}

ul, ol {
	list-style-type: none;
}

/*a {
	text-decoration: none;
}*/

/*header*/

#header {
	width: 100%;
	height: 600px;
	background-image: url(http://images.cnblogs.com/cnblogs_com/ghost-xyx/1028040/o_blog-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	overflow: hidden;
}

#blogTitle {
	text-align: center;
	margin-top: 261px;
}

#lnkBlogLogo {
	display: none;
}

#Header1_HeaderTitle {
	color: #fff;
	font-size: 64px;
	line-height: 1;
	text-decoration: none;
	font-weight: bold;
}

#Header1_HeaderTitle::after {
	content: "'s Blog";
/*	font-size: 64px;
	line-height: 1;*/
}

#blogTitle h2 {
	font-weight: 100;
	font-size: 36px;
	color: #b8b8b8;
	margin-top: 6px;
}

#blogTitle h2::after {
	content: 'Thoughts, stories and ideas';
}

#navigator {
	position: absolute;
	width: 1200px;
	top: 43px;
	left: 50%;
	margin-left: -600px;
}

#navList {
	position: absolute;
	top: 0;
	right: 30px;
	overflow: hidden;
}

#navList li {
	float: left;
	margin-left: 20px;
}

#navList li a {
	color: #B8B8B8;
	text-decoration: none;
}

#navList li a:hover, #navList li a:active {
	color: #fff;
}

/*.menu {
	position: relative;
	color: transparent;
}

.menu::after {
	color: #b8b8b8;
	position: absolute;
	left: 0;
	top: 0;
}

.menu:hover {
	color: #fff;
}

#blog_nav_sitehome::after {
	content: 'cnblog';
}*/

#blog_nav_rss_image {
	display: none;
}

#blog_stats {
	display: none;
}

/*main*/

#main {
	/*width: 1200px;
	margin: 0 auto;*/
	padding: 60px 0 0 0;
}

#homepage_top_pager {
	display: none;
}

.day {
	width: 1200px;
	margin: 0 auto 40px auto;
	border-bottom: 1px solid #ccc;
}

.postTitle {
	font-size: 32px;
	margin-bottom: 24px;
	line-height: 1;
}

.postTitle a {
	color: #4a4a4a;
	text-decoration: none;
}

.c_b_p_desc {
	color: #4a4a4a;
	line-height: 1.8;
	font-size: 16px;
}

.c_b_p_desc_readmore {
	color: #3BAEE7;
	text-decoration: none;
	margin-left: 10px;
}

.postDesc {
	font-size: 14px;
	color: #9DABB3;
	margin: 16px 0 15px 0;
}

.postDesc a {
	color: #3BAEE7;
	margin-left: 10px;
	text-decoration: none;
}

.dayTitle {
	display: none;
}

.topicListFooter, #homepage1_HomePageDays_homepage_bottom_pager {
	width: 1200px;
	margin: 0 auto;
	text-align: right;
	color: #4a4a4a;
	font-size: 14px;
}

.topicListFooter a, #homepage1_HomePageDays_homepage_bottom_pager a {
	/*text-decoration: none;*/
	color: #4a4a4a;
}

#nav_next_page, #homepage1_HomePageDays_homepage_bottom_pager {
	padding-bottom: 70px;
}

/*sideBar*/

#sideBar {
	display: none;
}

/*footer*/
#footer {
	display: none;
}

#customFooter {
	width: 100%;
	height: 270px;
	background-color: #292929;
	overflow: hidden;
	text-align: center;
}

#customFooter .footer-title {
	font-size: 34px;
	color: #fff;
	line-height: 1;
	margin: 36px 0 52px 0;
	font-weight: 600;
}

#customFooter ul {
	display: inline-block;
}

#customFooter ul li {
	float: left;
	margin: 0 40px;
}

#customFooter ul a {
	color: #c8c8c8;
	font-size: 24px;
	text-decoration: none;
}

#customFooter ul a:hover, #customFooter ul a:active {
	color: #fff;
}

#copyright {
	font-size: 14px;
	color: #707070;
	margin-top: 56px;
}

/*page*/
#blog_post_info_block {
	position: relative;
}

.author_avatar {
	width: 114px;
	border-radius: 57px;
	margin-right: 16px;
}

#author_profile_detail a:first-child {
	font-size: 32px;
	color: #4a4a4a;
	text-decoration: none;
}

#green_channel, #BlogPostCategory, #post_next_prev, #EntryTag {
	display: none;
}

/*comment*/

#topics {
	width: 1200px;
	margin: 0 auto;
}

#blog-comments-placeholder, #comment_form {
	background-color: #EDEDED;
}

#blog-comments-placeholder > div, #comment_form > div {
	width: 1200px;
	margin: 0 auto;
}

#comment_form {
	padding-bottom: 70px;
}

.feedbackListSubtitle {
	color: #9DABB3;
}

.feedback_area_title, #comment_nav, .layer, .sendMsg2This {
	display: none;
}

.feedbackItem {
	margin-top: 32px !important;
	border-bottom: 1px solid #CCCCCC;
}

.feedbackManage {
	float: right;
}

.feedbackManage a {
	font-size: 16px;
	color: #3BAEE7;
	text-decoration: none;
}

.comment_date, .feedbackListSubtitle > a {
	font-size: 14px;
	text-decoration: none;
}

.comment_date {
	margin-right: 5px;
}

.feedbackListSubtitle > a {
	color: #9DABB3;
	margin-left: 5px;
}

.feedbackCon {
	margin-top: 16px;
}

.blog_comment_body {
	font-size: 16px;
	color: #4a4a4a;
}

.blog_comment_body a {
	color: #4a4a4a;
	font-size: 16px;
	text-decoration: none;
}

.comment_vote a {
	font-size: 14px;
	color: #9DABB3;
	text-decoration: none;
}

#commentform_title, #comment_form_container p:first-child {
	display: none;
}

/*adver*/

#ad_t2, #opt_under_post, #cnblogs_c1, #under_post_news, #cnblogs_c2, #under_post_kb, #HistoryToday {
	display: none;
}